# MÓDULO DE CONFIGURACIÓN DE CONEXIÓN (modulo de ejemplo, copiar en su .env y dejarlo oculto)

# Configuración del servidor
PORT=4000

#Agregamos dos parametros de seguridad
SECRET_KEY=
EXPIRE_TOKEN=2h

# Configuración de la base de datos MySQL
MYSQL_HOST=localhost
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=notas
