.container {
  max-width: 800px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

 

.note {
  /* Eliminar flex para asegurar que cada nota ocupe toda la anchura disponible */
  /* flex: 0 1 calc(25% - 20px); */ /* Tamaño de cada columna (25% menos el espacio entre las notas) */
  width: 100%; /* Cada nota ocupa toda la anchura disponible */
  padding: 10px;
  background-color: rgb(54, 61, 139); /* Color de fondo de cada nota */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espacio entre las notas */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  position: relative; /* Establecer la posición relativa para poder posicionar los botones */
}

.note-buttons {
  position: absolute; /* Establecer la posición absoluta para posicionar los botones dentro de la nota */
  bottom: 10px; /* Ajustar la posición vertical de los botones */
  right: 10px; /* Ajustar la posición horizontal de los botones */
  display: flex; /* Usar flexbox para alinear los enlaces "Edit" y "Remove" */
  justify-content: flex-end; /* Alinear los enlaces a la derecha */
}

.note-buttons a {
  margin-left: 10px; /* Espacio entre los enlaces "Edit" y "Remove" */
  color: white; /* Color del texto */
}
.note-buttons-wrapper {
  margin-top: 80px; /* Ajusta el margen superior según sea necesario */
}
notes-title {
  text-align: left; /* Alinea el texto a la izquierda */
}


.containerMynotes {
  max-width: 800px; /* Ajusta según sea necesario */
  margin: 25px auto 0 auto; /* Margen superior, auto para los laterales y cero en la parte inferior */
}

.note-container {
  max-width: 100%; /* Utiliza el ancho máximo disponible */
  padding: 20px; /* Añadir relleno alrededor del contenido */
  margin-top: 20px; /* Agregar margen superior para separarlo del contenedor de título */
}
.my-notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-note-btn-container {
  margin-left: auto;
}
.new-note-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0056b3;;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-note-btn:hover {
  background-color: #007bff;
}
